
<h1>welcome to <strong>Bookers!!</strong></h1>
<p>In <strong>Bookers,</strong></p>
<p>you can share and exchange your opinions , inpressions , and emotions<br>
about various books!</p>
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Sign in</button>
  <button class="btn btn-primary" type="button">Sgin up</button>
</div>